{:lint-as {clj-zig.core/defnz        clojure.core/def
           clj-zig.core/defz         clojure.core/def
           clj-zig.core/deftypez     clojure.core/def
           clj-zig.core/defrecordz   clojure.core/def
           clj-zig.core/defenumz     clojure.core/def
           clj-zig.zigtest/deftestz  clojure.test/deftest}
 :config-in-comment {:linters {:unresolved-symbol {:level :off}}}
 :ns-groups [{:pattern "clj-zig\\..*(test|fixture|prop)"
              :name test-namespaces}]
 :config-in-ns {test-namespaces {:linters {:unresolved-symbol {:level :off}
                                           :unresolved-var {:level :off}}}}}
